.navbar {
  /* Navbar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 162px;
  gap: 433px;
  isolation: isolate;

  position: absolute;
  width: 1680px;
  height: 96px;
  left: calc(50% - 1680px / 2);
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 5;
  flex-grow: 0;
  z-index: 5;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.textButton {
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #676795;
  cursor: pointer;
  padding: 0 8px;
  transition: color 0.2s;
}

.textButton:hover {
  color: #4641e0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 48px;
  background: #dad9f9;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background: #bcbaf2;
}

.children {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #5954e3;
  display: flex;
  align-items: center;
}
