.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 sütun */
  gap: 75px 24px;
  width: 100%;
  padding: 20px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}
