.frame {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 0px;
  gap: 16px;

  width: 1280px;
  height: 471px;

  /* blue/50 */
  border-top: 1px solid #e6e6ed;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.mainFrame {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 0px 0px;
  gap: 16px;

  width: 1280px;
  height: 516px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}
.cardFrame {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 75px;

  width: 1280px;
  height: 317px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.heading {
  width: 1018px;
  height: 32px;

  /* text-2xl/lineHeight-8/font-semibold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* blue/900 */
  color: #02024e;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  gap: 8px;

  width: 182px;
  height: 48px;

  /* blue/200 */
  border: 1px solid #b3b3ca;
  border-radius: 6px;
  background: white;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.children {
  width: 110px;
  height: 24px;

  /* text-md/lineHeight-6/font-semibold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;

  /* blue/800 */
  color: #1b1b60;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.rightIcon {
  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 1280px;
  height: 48px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
